<!DOCTYPE html>
<html>
  <head>
    <title>User Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      .loading {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }

      .loading-text {
        color: white;
        font-size: 2em;
      }
    </style>
  </head>
  <body>
    <div class="loading">
      <div class="loading-text">Loading...</div>
    </div>
    <h1>User Information</h1>
    <div>
      {{ table_html | safe }}
    </div>
    <script>
      $(window).on("load", function () {
        $(".loading").fadeOut("slow");
      });

      function extendVolume(uuid) {
        window.open(`https://getafreenode.com/reset.php?uuid=${uuid}`, '_blank');
      }
    </script>
  </body>
</html>
